@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: url("/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1rem));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
}

@media (prefers-reduced-motion) {
  .animate-infinite-scroll {
    animation: none;
  }
}

.sparkle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background: white;
  box-shadow: 0 0 6px 2px #00d8ff;
  pointer-events: none;
  z-index: 10;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
}

.fixed {
  z-index: 50 !important;
}
